@import 'tailwindcss';

@theme inline {
   --color-border: #dcd8cf;
   --color-main: #fdfcf8;

   --font-playfair: var(--font-playfair-display);
   --font-inter: var(--font-inter);
   --font-noto: var(--font-noto-serif-jp);
}

body,
html {
   display: flex;
   min-width: 100%;
   width: 100%;
   min-height: 100vh;
   height: fit-content;
   flex-direction: column;
   background-color: #fdfcf8;
}

::-webkit-scrollbar {
   width: 6px; 
   height: 6px;
}

::-webkit-scrollbar-track {
   background-color: #fdfcf8;
}

::-webkit-scrollbar-thumb {
   background-color: #d6d3d1;
   border-radius: 10px;
   border: 1px solid #fdfcf8;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #a8a29e;
}

::-webkit-scrollbar-corner {
   background-color: #fdfcf8;
}
